.sidebar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar-profile:hover {
  background: #f0f2f5;
}

.sidebar-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-profile span {
  font-weight: 500;
}

.profile-link {
  text-decoration: none;
  color: black;
}

.sidebar-menu p {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar-menu p:hover {
  background: #f0f2f5;
}
