.story-modal {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-modal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}



.story-img,
.story-image,
img {
  border-radius: 8px !important;
  object-fit: cover;
}


.progress {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 4px;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  overflow: hidden;
}

.bar {
  height: 100%;
  background: white;
  transition: width 0.04s linear;
}

.story-name-full {
  position: absolute;
  top: 40px;
  left: 20px;
  color: white;
  font-weight: bold;
}

.left, .right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}

.left { left: 0; }
.right { right: 0; }

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.story-modal img {
  border-radius: 0 !important;
  clip-path: none !important;
  mask-image: none !important;
  -webkit-mask-image: none !important;
}

.story-modal {
  overflow: hidden;
}
